<ion-header-bar  class="bar-positive">
  <div ng-controller="AppsCtrl" class="buttons">
    <button ng-click="GoBack()" class="button button-icon icon ion-android-arrow-back"></button>
  </div>


  <h1 class="title">
    <a ng-if="roboholdImg" href="#/tab/home"><img  class="robohold-title" ng-src={{roboholdImg}}></a>

    <span ng-if="!roboholdImg" >{{orgName}}</span>
  </h1>

  <div class="buttons">
      <button ng-click="create()"  class="button button-icon icon ion-android-done create-size"> CREATE</button>

  </div>
</ion-header-bar>


